.letter {
  max-width: 42em;
  margin: 2em auto;
  line-height: 1.6;
}

.letter-content {
  margin: 3em 0;
  font-size: 1.1em;
}

.letter-content p {
  margin-bottom: 1.5em;
}

.signatories {
  /* margin-top: 2em; */
  padding-top: 2em;
  border-top: 1px solid rgba(228, 228, 228, 0.2);
}

.signatories h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: normal;
}

.signatories h2::after {
  content: attr(data-count);
  font-size: 0.7em;
  color: rgba(228, 228, 228, 0.7);
  margin-left: 0.8em;
}

.signatories ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em 2em;
}

.signatories li {
  margin-bottom: 0.8em;
  break-inside: avoid;
}

.signatories strong {
  display: block;
  font-size: 1.1em;
  margin-bottom: 0.2em;
  font-weight: normal;
}

.description {
  display: block;
  font-size: 0.9em;
  color: rgba(228, 228, 228, 0.7);
  line-height: 1.3;
}

header {
  text-align: center;
  margin: 4em auto 3em;
}

header h1 {
  font-size: 3em;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
}