---
layout: default
---

{% assign letter = site.letter | first %}

<article class="letter">
  <!-- <h1>{{ letter.title }}</h1> -->
  
  <div class="letter-content">
    {{ letter.letterContent | markdownify }}
  </div>

  {% if letter.signatories %}
  <section class="signatories">
    <h2 data-count="({{ letter.signatories | size }} signatures)">Signed</h2>
      <ul>
      {% for signatory in letter.signatories %}
        <li>
          <strong>{{ signatory.name }}</strong>
          {% if signatory.description %}
            <span class="description">{{ signatory.description }}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </section>
  {% endif %}
</article>
